/*
COLORS:

Light : #7ed56f , #fff
Medium : #55c57a
Dark : #28b485 , #777

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font-size
$default-font-size: 1.6rem;
